<h1>UPDATE POST </h1>
<form *ngIf="updatePostForm" class="form-group" [formGroup]="updatePostForm" (ngSubmit)="updatePost(id)">
  <h4>TAG</h4>
  <input class="form-control" style="width: 500px" type="text" placeholder="tag" formControlName="tag">
  <h4>URL</h4>
  <input  class="form-control" style="width: 500px" type="text" placeholder="url" formControlName="url">
  <h4>Descriptions</h4>
  <textarea  class="form-control" style="width: 500px" type="text" placeholder="descriptions" formControlName="descriptions"></textarea>
  <button class="btn btn-success" type="submit">Update</button>
  <button class="btn btn-danger" routerLink="/posts">Back</button>

</form>
